.header{
    
    background-color: dimgray;
    display: flex;
    justify-content: space-around;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius:50px
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1800px;
    margin: 0 auto;
    
  }
  
.video-item {
    position: relative;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    background-color: #58698c;
    /* padding-top: 10vw; */
    gap: 0.2vw;
    width: 15vw;
    height: 10vw;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(255, 1, 1, 0.9);
    transition: transform 0.2s, box-shadow 0.2s;
}

#title{
    /* overflow: hidden; */
    padding-left: 0.6vw;
    padding-right: 0.6vw;
}

#description{
    /* position:absolute; */
    overflow: hidden;
    padding-left: 0.6vw;
    padding-right: 0.6vw;
    /* bottom: 1.5vw; */

}

#channel-name{
    /* overflow: hidden; */
    padding-left: 0.6vw;
    padding-right: 0.6vw;
    
}

#views-count{
    /* overflow: hidden; */
    padding-left: 0.6vw;
    padding-right: 0.6vw;
}



#signin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column; 
    justify-content: center;   
    align-items: center;       
    height: 100vh;   
 
}


#signup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column; 
    justify-content: center;   
    align-items: center;       
    height: 100vh; 
}


.video{
    display: flex;
    justify-content: center;
    /* width: 1000px; */
}